{% extends "base.html" %}
{% block content %}

<h3>Dashboard</h3>

<div class="row">
    <div class="col">
        <div class="card p-3 bg-success text-white">
            Entradas: {{entrada}}
        </div>
    </div>

    <div class="col">
        <div class="card p-3 bg-danger text-white">
            Saídas: {{saida}}
        </div>
    </div>

    <div class="col">
        <div class="card p-3 bg-primary text-white">
            Saldo: {{saldo}}
        </div>
    </div>
</div>

{% endblock %}